body {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
}

.title {
    font-weight: 300px;
    font-size: 50px;
}

.form-rounded {
    border-radius: 2em;
}

.back-card {
    border-radius:40px !important;
}

.nom-ville {
    position: absolute;
    width: 100%;
}

.nom-ville p {
    font-size:16pt;
    font-weight:400px;
}

.nom-ville span {
    font-weight: 100;
    font-size: 5em;
    letter-spacing:-5px;
    white-space: nowrap;
    position: relative;
}

.card-mid {
    line-height:0.5;
}

.condition {
    line-height:1em;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: capitalize;
}

.max::before {
    content: ' ';
    background: url('../img/up.svg') no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 1px;
}

.min::before {
    content: ' ';
    background: url('../img/down.svg') no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 1px;
}

.feel-like p{
    font-size: 1em;
    font-weight: 150;
}

.card-bottom {
    line-height: 0.5;
}

.card-bottom span{
    font-size: 12px;
}

.card-bottom p {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -2;
}

.icon-container {
    border-radius:100%;
    width: 30%;
    height: 30%;
    background-color: rgb(255, 255, 255);
}

.icon-container img {
    margin:auto;
}

